.footer-wrapper{
    background-color: var(--bg-footer-color);
}
.footer{
    color: var(--title-color);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__list{
    margin: 40px 0;
}
.footer__list-title{
    list-style-type: none;
}
.footer__list-item{
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.footer__list-item-thick{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.footer__info-locaion{
    display: flex;
    justify-content: space-between;
    max-width: 294px;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.footer__info-location-image{
    width: 46px;
    height: 46px;
}
.footer__info-location-description{
    align-items: center;
    font-size: 15px;
    margin-bottom: 0;
}
.footer__info-phone{ 
    display: flex;
    max-width: 284px;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.footer__info-phone-image{
    width: 46px;
    height: 46px;
}
.footer__info-phone-description{
    font-size: 15px;
    margin-bottom: 0;
}
.footer__info-social{
    display: flex;
    justify-content: space-between;
    width: 171px;
    padding-bottom: 70px;
}
.footer__social-image{
    width: 41px;
    height: 41px;
}
@media (min-width:768px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wra;
        gap: 20px;
    }
    .footer__list{
        width: 580px;
        display: flex;
        justify-content: space-between;
    }
    .footer__list-item{
        text-align: left;
    }
}
