<!-- <section>
    <h3>Contact Us</h3>
    <p>Most calendars are designed for teams. 
        Slate is designed for freelancers</p>
        <div>
            
            






            <div>
                <div>
                    <img src="img/icon/icon-location.png" alt="icon-location">
                    <p>6386 Spring St undefined Anchorage,</p>
                    <p>Georgia 12473 United States</p>
                </div>
                <div>
                    <img src="img/icon/icon-photo.png" alt="icon-phone">
                    <p>(843) 555-0130</p>
                </div>
                <div>
                    <img src="img/icon/icon-letter.png" alt="icon-letter">
                    <p>willie.jennings@example.com</p>
                </div>
                <div><img src="img/picture/map.png" alt="map"></div>
                <div>
                    <img src="img/icon/social-twitter.png" alt="social-net">
                    <img src="img/icon/social-facebook.png" alt="social-net">
                    <img src="img/icon/social-linkedin.png" alt="social-net">
                </div>
            </div>
        </div>
</section> -->