<div class="container">
<section class="fastest-way">
    <div class="fastest-way__block">
        <h2 class="fastest-way__block-title">Fastest way to organize </h2>
        <p class="fastest-way__block-subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
        <button class="fastest-way__block-btn">Try For Free</button>
    </div>
    <div class="fastest-way__image-wrapper">
        <img class="fastest-way__image" src="img/icon/computer.png" alt="it's a computer">
    </div>
</section>
</div>