<div class="container">
<section class="features">
    <h2 class="features__title">Features</h2>
    <p class="features__subtitle">Most calendars are designed for teams. </p>
    <div class="features__video-content-wrapper">
        <a href="#"><img class="features__video-content" src="img/picture/laptop.png" alt="there is a laptop on the table"></a>
    </div>
    <div class="features__card">
        <div class="features__card-content card-content">
            <img class="card-content__image" src="img/icon/icon-circle-square.png" alt="circle and square">
            <h3 class="card-content__title">OpenType features 
                Variable fonts</h3>
            <p class="card-content__subtitle">Slate helps you see how 
                many more days you need 
                to work to reach your 
                financial goal.</p>
        </div>
        <div class="features__card-content card-content">
            <img class="card-content__image" src="img/icon/icon-pen.png" alt="pen">
            <h3 class="card-content__title">Design with real data</h3>
            <p class="card-content__subtitle">Slate helps you see how 
                many more days you need 
                to work to reach your 
                financial goal.</p>
        </div>
        <div class="features__card-content card-content">
            <img class="card-content__image" src="img/icon/icon-brush.png" alt="brush">
            <h3 class="card-content__title">Fastest way to 
                take action</h3>
            <p class="card-content__subtitle">Slate helps you see how 
                many more days you need 
                to work to reach your 
                financial goal.</p>
        </div>
    </div>
    <div class="features__video-content-girl">
        <img class="features__video-content-girl-image" src="img/picture/girl.png" alt="there is a girl">
        <a href="#">
            <div class="features__video-content-girl-play-wrapper">
                <img class="features__video-content-girl-play" src="img/icon/play-for-video.png" alt="icon play for video">
            </div>
        </a>
    </div>
</section>
</div>