.fingertips{
    display: grid;
}
.fingertips-newsletter{
    grid-template-columns: 1fr;
}
.fingertips-newsletter__uptitle{}
.fingertips-newsletter__title{}
.fingertips-newsletter__subtitle{}
.fingertips-image-wrapper{
    grid-template-columns: 1fr;
}
.fingertips-image-wrapper__image{}
.fingertips-form{
    grid-template-columns: 1fr;
}
.fingertips-lightning{}
.fingertips-lightning__uptitle{}
.fingertips-lightning__title{}
.fingertips-lightning__uptitle{}
.fingertips-lightning__subtitle{}
.fingertips-form__uptitle{}
.fingertips-form__subtitle{}
.fingertips-form__form{}
.fingertips-form__form-email{}
.fingertips-form__form-btn{}
@media (min-width:768px){
    .fingertips{}
    .fingertips-newsletter{}
    .fingertips-newsletter__uptitle{}
    .fingertips-newsletter__title{}
    .fingertips-newsletter__subtitle{}
    .fingertips-image-wrapper{}
    .fingertips-image-wrapper__image{}
    .fingertips-form{}
    .fingertips-lightning{}
    .fingertips-lightning__uptitle{}
    .fingertips-lightning__title{}
    .fingertips-lightning__uptitle{}
    .fingertips-lightning__subtitle{}
    .fingertips-form__uptitle{}
    .fingertips-form__subtitle{}
    .fingertips-form__form{}
    .fingertips-form__form-email{}
    .fingertips-form__form-btn{}
}