<div class="container">
    <section class="fingertips">
        <div class="fingertips-newsletter">
            <h3 class="fingertips-newsletter__uptitle">At your fingertips</h3>
            <h2 class="fingertips-newsletter__title">Newsletter </h2>
            <p class="fingertips-newsletter__subtitle">Most calendars are designed for teams. Slate is designed for
                freelancers</p>
        </div>
        <div class="fingertips-image-wrapper">
            <img class="fingertips-image-wrapper__image" src="img/icon/man-and-leter.png" alt="man with letter">
        </div>
        <div class="fingertips-lightning-form">
            <div class="fingertips-lightning">
                <h3 class="fingertips-lightning__uptitle">At your fingertips</h3>
                <h2 class="fingertips-lightning__title">Lightning fast prototyping </h2>
            </div>
            <div class="fingertips-form">
                <h3 class="fingertips-form__uptitle">Subscribe to our Newsletter</h3>
                <p class="fingertips-form__subtitle">Available exclusivery on Figmaland</p>


                <footer id="contacts" class="footer">
                    <form classs="fingertips-lightning-form" id="contact-form-formspree" action="https://formspree.io/f/xpzyvoez" method="POST" class="fingertips-form__form">
                        <input class="contacts__email fingertips-form__form-email" type="email" name="email" placeholder="Your Email"> 
                        <input class="contacts__message fingertips-form__form-email" type="text" name="message" placeholder="Your Message">
                        <button class="fingertips-form__form-btn">Submit</button>
                    </form>
                    <div id="contact-form-status"></div>
                </footer>


              
            </div>
        </div>
    </section>
</div>