<div class="container">
    <section class="fingertips">
        <div class="fingertips-newsletter">
            <h3 class="fingertips-newsletter__uptitle">At your fingertips</h3>
            <h2 class="fingertips-newsletter__title">Newsletter </h2>
            <p class="fingertips-newsletter__subtitle">Most calendars are designed for teams. Slate is designed for
                freelancers</p>
        </div>
        <div class="fingertips-image-wrapper">
            <img class="fingertips-image-wrapper__image" src="img/icon/man-and-leter.png" alt="man with letter">
        </div>
        <div class="fingertips-lightning-form">
            <div class="fingertips-lightning">
                <h3 class="fingertips-lightning__uptitle">At your fingertips</h3>
                <h2 class="fingertips-lightning__title">Lightning fast prototyping </h2>
            </div>
            <div class="fingertips-form">
                <h3 class="fingertips-form__uptitle">Subscribe to our Newsletter</h3>
                <p class="fingertips-form__subtitle">Available exclusivery on Figmaland</p>
                <form class="fingertips-form__form" action="https://formspree.io/f/mgejvaan" method="post">
                    <input class="fingertips-form__form-email" type="email" name="email" placeholder="Your Email"
                        required>
                    <input class="fingertips-form__form-btn" type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </section>
</div>