<footer class="footer-wrapper" id="head-contacts">
    <div class="container footer">
    <div class="footer__list"> 
    <ul class="footer__list-title">
        <li class="footer__list-item footer__list-item-thick">Annette Steward</li>
        <li class="footer__list-item">Jennie Cooper</li>
        <li class="footer__list-item">Julie Henry</li>
        <li class="footer__list-item">Johnny Murphy</li>
        <li class="footer__list-item">Gregory Mccoy</li>
        <li class="footer__list-item">Marvin Mckinney</li>
    </ul>
    <ul class="footer__list-title">
        <li class="footer__list-item footer__list-item-thick">Tomothy </li>
        <li class="footer__list-item">Eleanor Edwards</li>
        <li class="footer__list-item">Ted Robertson</li>
        <li class="footer__list-item">Annette Russell</li>
        <li class="footer__list-item">Jennie Mckinney</li>
        <li class="footer__list-item">Gloria Richards</li>
    </ul>
    <ul class="footer__list-title">
        <li class="footer__list-item footer__list-item-thick">Jane Black</li>
        <li class="footer__list-item">Philip Jones</li>
        <li class="footer__list-item">Product</li>
        <li class="footer__list-item">Colleen Russell</li>
        <li class="footer__list-item">Marvin Hawkins</li>
        <li class="footer__list-item">Bruce Simmmons</li>
    </ul>
    </div>
    <div class="footer__info">
        <div class="footer__info-locaion">
            <img class="footer__info-location-image" src="img/icon/footer-location.png" alt="location">
            <p class="footer__info-location-description">7480 Mockingbird Hill undefined </p>
        </div>
        <div class="footer__info-phone">
            <img class="footer__info-phone-image" src="img/icon/footer-phone.png" alt="phone">
            <p class="footer__info-phone-description">(239) 555-0108</p>
        </div>
        <div class="footer__info-social">
            <img class="footer__social-image" src="img/icon/icon-twitter.png" alt="sosial-net">
            <img class="footer__social-image" src="img/icon/icon-facebook.png" alt="sosial-net">
            <img class="footer__social-image" src="img/icon/icon-linkedin.png" alt="sosial-net">
    </div>
    </div>
</div>
</footer>