<div class="header-wrapper">
    <nav class="header-nav navbar navbar-expand-lg">
        <div class="container">
            <button class="header-nav__btn navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#header-nav" aria-controls="header-nav" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="img/icon/burger-menu.png" alt="burger-menu">
            </button>
            <div class="collapse navbar-collapse dropdown" id="header-nav">
                <div class="header-nav__links navbar-nav dropdown">
                    <a class="header-nav__links-link text-white nav-link active" aria-current="page"
                        href="index.html">Home</a>
                    <a class="header-nav__links-link nav-link text-white" href="#products">Products</a>
                    <a class="header-nav__links-link nav-link text-white" href="#pricing">Pricing</a>
                    <a class="header-nav__links-link nav-link text-white" href="#about">About</a>
                    <a class="header-nav__links-link nav-link text-white" href="#contacts">Contacts</a>
                </div>
            </div>
            <div class="header-nav__logo">
                <a href="#"><img src="img/logo/logo.png" alt="logotype"></a>
            </div>
            <div class="header-nav__social">
                <div class="collapse navbar-collapse">
                    <a href="#" class="header-nav__social-link"><img src="img/icon/icon-twitter.png"
                            alt="icon-twitter"></a>
                    <a href="#" class="header-nav__social-link"><img src="img/icon/icon-linkedin.png"
                            alt="icon-linkedin"></a>
                    <a href="#" class="header-nav__social-link"><img src="img/icon/icon-facebook.png"
                            alt="icon-facebook"></a>
                </div>
            </div>
        </div>
    </nav>
    <section class="header-best-products">
        <h1 class="header-best-products__title">The best products start with Figma</h1>
        <p class="header-best-products__subtitle">Most calendars are designed for teams. Slate is designed for
            freelancers</p>
        <a class="header-best-products__button" href="#">Try For Free</a>
    </section>
</div>