<nav class="header-nav">
    <div class="header-nav__left">
        <ul class="header-nav__left-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li style="background-color: grey; display: inline-block;"><a href="#"><img src="img/logo/logo.png" alt="logotype"></a></li>
        </ul>
    </div>
    <div class="header-nav__rigt">
        <ul  class="header-nav__right-list" style="background-color: grey;">
            <li><a href="#"><img src="img/icon/icon-twitter.png" alt="icon-twitter"></a></li>
            <li><a href="#"><img src="img/icon/icon-linkedin.png" alt="icon-linkedin"></a></li>
            <li><a href="#"><img src="img/icon/icon-facebook.png" alt="icon-facebook"></a></li>
        </ul>
    </div>
</nav>