<section class="partners container" id="head-about">
    <h3 class="partners__title">Partners</h3>
    <p class="partners__subtitle">Most calendars are designed for teams.
        Slate is designed for freelancers</p>
    <div class="partners__card">
        <button class="partners__carousel-btn-prev"><img src="img/icon/btn-prev.png" alt="button"></button>
        <div class="partners__card-carousel-slide carousel-slide"></div>
        <button class="partners__carousel-btn-next"><img src="img/icon/btn-next.png" alt="button"></button>
    </div>
    <button class="partners__btn" type="submit">Try For Free</button>
</section>