<section class="pricing" id="head-pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <p class="pricing__subtitle">Most calendars are 
            designed for teams. </p>
        <div class="pricing__carousel">
            <button class="pricing__carousel-btn-prev"><img src="img/icon/btn-prev.png" alt="button"></button>
            <div class="pricing__carousel-slide carousel-slide"></div>
            <button class="pricing__carousel-btn-next"><img src="img/icon/btn-next.png" alt="button"></button>
        </div>
    </div>
</section>

