<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <p class="pricing__subtitle">Most calendars are 
            designed for teams. </p>
        <div class="pricing__carousel">
            <button class="pricing__carousel-btn-prev"><img src="img/icon/btn-prev.png" alt="button"></button>
            <div class="pricing__carousel-slide carousel-slide"></div>
            <button class="pricing__carousel-btn-next"><img src="img/icon/btn-next.png" alt="button"></button>
        </div>
    </div>
</section>

<!-- <div class="carousel-slide__card">
    <h3 class="carousel-slide__card-title">FREE</h3>
    <p class="carousel-slide__card-subtitle">Organize across all 
        apps by hand</p>
    <p class="carousel-slide__card-price">0
        $
        Per Month</p>
    <ul>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
    </ul>
    <button >Oredt Now</button>
</div>
<div class="carousel-slide__card">
    <h3 class="carousel-slide__card-title">FREE</h3>
    <p class="carousel-slide__card-subtitle">Organize across all 
        apps by hand</p>
    <p class="carousel-slide__card-price">10
        $
        Per Month</p>
    <ul>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
    </ul>
    <button>Oredt Now</button>
</div>
<div class="carousel-slide__card">
    <h3 class="carousel-slide__card-title">FREE</h3>
    <p class="carousel-slide__card-subtitle">Organize across all 
        apps by hand</p>
    <p class="carousel-slide__card-price">99
        $
        Per Month</p>
    <ul>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
        <li>Pricing Feature</li>
    </ul>
    <button>Oredt Now</button>
</div> -->
