<section class="testimonials">
    <h3 class="testimonials__title">Testimonials</h3>
    <div class="testimonials__image-container"><img class="testimonials__image" src="img/icon/icon-ibm.png" alt="logotype-ibm"></div>
    <p class="testimonials__subtitle">Most calendars are designed for teams. Slate is designed for freelancers 
        who want a simple way to plan their schedule.</p>
    <div class="testimonials__person">
        <img class="testimonials__person-image" src="img/icon/photo-man.png" alt="photo-man">
        <div class="testimonials__person-info">
            <p class="testimonials__person-info-title">Organize across</p>
            <p class="testimonials__person-info-subtitle">Ui designer</p>
        </div>
    </div>
    <button class="testimonials__btn" type="submit">More Testimonials</button>
</section>